.git
.gitignore

*.log
.DS_Store
.env*
.phpactor.json
.phpunit.*
.idea
.vscode
/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/pail
/public/build

# Also ignore local Docker override
docker-compose.override.yml
